<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Müşteriler</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/">Ana sayfa</a></li>
              <li class="breadcrumb-item active">Müşteriler</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Müşteriler</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addModel">Yeni Müşteri
              </button>
              <button
                type="button"
                class="btn btn-success mx-2"
                (click)="exportExcel()"
                >Excel Aktar
              </button>
            </div>
            <div class="col-md-6">
              <div class="form-group offset-6">
                <input
                  class="form-control"
                  type="search"
                  [(ngModel)]="filterText"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="Arama"
                  aria-label="Search">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hovered" id="excelTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Müşteri Adı</th>
                    <th>Müşteri Eposta</th>
                    <th>Fiyat Listesi</th>
                    <th>İskonto Oranı</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers 
                | customerPipe: filterText
                let index = index">
                    <td [innerText]="index + 1"></td>
                    <td [innerText]="customer.name"></td>
                    <td [innerText]="customer.email"></td>
                    <td [innerText]="customer.priceListName"></td>
                    <td [innerText]="customer.discount"></td>
                    <td>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-toggle="modal"
                          data-bs-target="#updateRelationshipModel"
                          (click)="getCustomer(customer)">Bağlantı Ayarla
                        </button>
                        <button
                          type="button"
                          class="btn btn-warning mx-2"
                          data-bs-toggle="modal"
                          data-bs-target="#updateModel"
                          (click)="getCustomer(customer)">Güncelle
                        </button>
                        <button
                          type="button"
                          class="btn btn-info mx-1"
                          data-bs-toggle="modal"
                          data-bs-target="#updatePasswordModel"
                          (click)="getCustomer(customer)">Şifre Değiştir
                        </button>
                        <button
                          class="btn btn-danger mx-1"
                          [swal]="deleteSwal"
                          (confirm)="delete(customer)">Sil
                        </button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>

<!--Add Modal-->
<div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModelLabel">Müşteri Oluştur</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm">
          <div class="form-group">
            <label for="name">Müşteri Adı</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              ngModel
              #name
              required
              minlength="3"
              placeholder="Müşteri Adı">
          </div>
          <div class="form-group">
            <label for="email">Email Adresi</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              ngModel
              #email
              required
              email
              placeholder="Email Adresi">
          </div>
          <div class="form-group">
            <label for="password">Parola</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              ngModel
              #password
              required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!addForm.valid"
          (click)="add(addForm)"
          >Müşteri Kaydet
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="addModelCloseBtn"
          >Kapat
        </button>
      </div>
    </div>
  </div>
</div>

<!--Update Modal-->
<div class="modal fade" id="updateModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModelLabel">Müşteri Güncelle</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
            <label for="name">Müşteri Adı</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="customer.name"
              [ngModelOptions]="{standalone:true}"
              #name
              required
              minlength="3"
              placeholder="Müşteri Adı">
          </div>
          <div class="form-group">
            <label for="email">Email Adresi</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="customer.email"
              [ngModelOptions]="{standalone:true}"
              #email
              required
              email
              placeholder="Email Adresi">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          [disabled]="!updateForm.valid"
          (click)="update()"
          >Müşteri Güncelle
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="updateModelCloseBtn"
          >Kapat
        </button>
      </div>
    </div>
  </div>
</div>

<!--UpdatePassword Modal-->
<div class="modal fade" id="updatePasswordModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePasswordModelLabel">Müşteri Şifre Değiştirme</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
            <label for="password">Şifre</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              ngModel
              #password
              required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          [disabled]="!updateForm.valid"
          (click)="changePassword(password)"
          >Müşteri Şifre Güncelle
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="updatePasswordModelCloseBtn"
          >Kapat
        </button>
      </div>
    </div>
  </div>
</div>

<!--UpdateRelationship Modal-->
<div class="modal fade" id="updateRelationshipModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateRelationshipModelLabel">Müşteri Bağlantı Güncelle</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
            <label for="priceListId">Fiyat Listesi</label>
            <select
              class="form-control"
              id="priceListId"
              name="priceListId"
              [(ngModel)]="customer.priceListId"
              [ngModelOptions]="{standalone : true}"
              #priceListId
              required>
              <option
              *ngFor="let priceList of priceLists"
              [value]="priceList.id"
              [innerText]="priceList.name">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="discount">İskonto Oranı</label>
            <input
              type="text"
              class="form-control"
              id="discount"
              name="discount"
              [(ngModel)]="customer.discount"
              [ngModelOptions]="{standalone : true}"
              #discount
              required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          [disabled]="!updateForm.valid"
          (click)="updateRelationship()"
          >Müşteri Bağlantı Güncelle
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="updateRelationshipModelCloseBtn"
          >Kapat
        </button>
      </div>
    </div>
  </div>
</div>

  <swal
    #deleteSwal
    title="Sil"
    text="Müşteri Bağlantısını Silmek İstiyor musunuz?"
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true"
    [swalOptions] = "{confirmButtonText: 'Sil', cancelButtonText:'Vazgeç'}">
  </swal>

